﻿


body {

	color: #161616;

	font-family: 'Open Sans', Helvetica, Arial, sans-serif;

	font-size: 18px;

	font-weight: 300;

	overflow-x: hidden;


	background-color: #fbfbfb;
	background-image: url('../img/bg2.jpg');

	background-width: 100%;
	background-repeat: no-repeat;

	background-attachment: scroll;

}



a, button { transition: all 0.3s ease;

			color: #6d243b;}

a:hover,

a:focus {

	text-decoration: none;

	outline: none;

}



h2 { font-size: 2.2rem; }

.tm-thin-font { font-weight: 300; }



.container-fluid {

	margin-left: auto;

	margin-right: auto;

	max-width: 1390px;

	overflow-x: hidden;

}



@media (max-width: 1390px) {

	.container-fluid {

		padding-left: 5%;

		padding-right: 5%;

	}

}

@media (max-width: 1200px) {
	.hidden-lg-down {
		display: none !important
	}
}


.tm-header{

	background-color: rgb(255, 168, 0);

}

.tm-header-inner {

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;

	-webkit-align-items: center;

	    -ms-flex-align: center;

	        align-items: center;

	-webkit-justify-content: space-between;

	    -ms-flex-pack: justify;

	        justify-content: space-between;

	height: 120px;



}



.tm-site-name {

	color: #000000;

	display: block;

	margin-left: 0px;

	font-size: 2.7rem;

	font-weight: 400;

}

.tm-site-name:hover {

	color: #000000;
	transition-timing-function: ease;
	text-shadow: 0 0 20px #fff, 0 0 30px #ffa800, 0 0 40px #895100, 0 0 50px #613800, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;



}



.tm-main-nav { font-size: 1.2rem;}



.navbar-nav .nav-link {

	border-radius: 6px;

	color: #000000;

	padding: 10px 40px;
	margin-bottom: 15px;



}



.nav-item {

	margin-top: 20px;

	margin-left: 3px;

	position: static;

	min-width: 160px;

	text-align: center;

	font-weight: bolder;



}

.nav-item.active .nav-link,

.nav-link:hover,

.nav-link:focus {

	color: white;

	box-shadow: 0 0 2pt 2pt white;





}

.dropdown-menu {

	padding-left: -25px;

	text-align: center;

	border-radius: 6px;

	border: hidden;

	width: 200px;

	background-color: rgb(202, 202, 202);
	}



.dropdown:hover .dropdown-menu {

	display: block;

	margin-top: 0;

}



.sticky {

	position: sticky;

	top: 0;

	width: 100%;

	z-index: 999; !important;

}



.sticky + .content {

	padding-top: 100px;

}



.tm-content-box-contact{

	background-color: rgb(202, 202, 202);

	padding: 3px;

	text-align: center;

}

.tm-gold-text { color: #1a334e; }



.tm-section {

	padding-top: 80px;

	padding-bottom: 100px;

	background: rgba(255, 255, 255, 0.65);



}



.tm-home-img-container {


	background-size: cover;

	background-position: center;

	background-repeat: no-repeat;

	height: 300px;

}


.tm-about-img-container,

.tm-blog-img-container,

.tm-contact-img-container {

	background-size: auto 200px;

	background-position: center;

	background-repeat: no-repeat;

	height: 200px;

}



.tm-title {

	margin-bottom: 1rem;

	line-height: 1.4;

}



.tm-subtitle {

	font-size: 1.7rem;

	max-width: 900px;

	margin: 0 auto 80px;

}



.tm-content-box {

	max-width: 310px;

	margin: 0 auto;

	background-color: white;

	outline: white solid thick;

	text-align: center;

}



h3 { font-size: 1.65rem; }

h4 { 

	font-size: 1.4rem;

	line-height: 1.6;

}



.tm-btn {

	color: white;

	background-color: #ffb91b;

	border: none;

	border-radius: 5px;

	display: inline-block;

	padding: 10px 30px;

}



.tm-btn:hover,

.tm-btn:focus {

	background-color: #92ccff;

	color: white;

	outline: none;

}



.tm-btn-gray { background-color: #666666; }

.tm-btn-gray:hover,

.tm-btn-gray:focus {

	background-color: #515050;	

}



.tm-margin-b-15 { margin-bottom: 15px; }

.tm-margin-b-20 { margin-bottom: 20px; }

.tm-margin-b-30 { margin-bottom: 30px; }

.tm-margin-b-40 { margin-bottom: 40px; }

.tm-margin-t-big { margin-top: 90px; }

.tm-margin-t-mid { margin-top: 60px; }

.tm-margin-t-small { margin-top: 30px; }



.tm-text-link { 

	color: #006699;

	line-height: 2.8;

	text-decoration: underline;

}

.tm-overflow-auto { overflow: auto; }

.tm-small-font { font-size: 1rem; }

.tm-related-post { margin-bottom: 40px; }

.tm-related-post:last-child { margin-bottom: 0; }

.media-left { padding-right: 25px; }

.media-body {

	border-bottom: 1px solid #ccc;

	padding-bottom: 25px;

}



.tm-media-description { margin-bottom: 0; }



.tm-2-col-right { padding-left: 20px; }



.tm-footer {

	color: #c6c6c6;

	background-image: url('../img/pi.jpg');

	background-size: 100%;

	font-size: 1rem;

	padding-top: 40px;

	padding-bottom: 20px;

}



.tm-footer-links-container { padding-left: 10px; }



.tm-footer-link {

	color: #92ccff;

	line-height: 2.8;

	text-decoration: underline;

}



.tm-footer-link:hover,

.tm-footer-link:focus {

	color: #92ccff;

	text-decoration: none;

}

.tm-footer-thumbnail { margin-bottom: 5px; }



.tm-copyright-text { 

	color: #999999; 

	margin-bottom: 0;

}



hr { border-top: 1px solid #CCCCCC; }

p { line-height: 1.9; }



.tm-gray-bg { 

	background-color: #CCCCCC; 

	color: black;

	padding: 30px 20px 20px;

}

.tm-footer-content-box-title { margin-bottom: 30px; }



.tm-img-post { margin-bottom: 30px; }



.tm-aside-r { padding-left: 30px; }



.form-control {

	border-radius: 0;

	font-size: 1.1rem;

	padding: 0.75rem 1rem;

}



.form-control:focus { border-color: #92ccff; }



.tm-form-description { margin-top: 30px; }

.tm-contact-form { padding-top: 20px; }



#google-map {

    height: 333px;

    width: 100%;

    margin-top: 40px;

}



.tm-contact-right { padding-left: 30px; }

.tm-p-small { font-size: 1rem; }



@media (max-width: 1199px) {

	.tm-2-col-left { padding-right: 0; }

	.tm-2-col-right { padding-left: 0; }

	.tm-text-link {

		line-height: 2.2;

	}

	.container-fluid {

		padding-left: 4%;

		padding-right: 4%;

	}

}



@media (max-width: 991px){



	.tm-home-img-container {

		background:none;

		height: auto;

	}



	.tm-subtitle { margin-bottom: 40px; }

	

	#tmNavbar .navbar-nav .nav-link { padding: 10px 25px; }

	.media { max-width: 240px; }

	.media-left {

		display: block;

		margin-bottom: 20px;
		background: #ffb91b;

	}



	.tm-content-box { margin-bottom: 50px; }

	.tm-text-link { line-height: 2.4; }



	.tm-section {

	    padding-top: 50px;

	    padding-bottom: 60px;

	}



	.tm-2-col-left, .tm-2-col-right { 

		margin: 0 auto;

		max-width: 660px;

	}

	

	.tm-margin-t-big { margin-top: 30px; }

	.media { max-width: 100%; }

	.media-left {

		display: table-cell;

		margin-bottom: 0;

	}



	.tm-footer-content-box { margin-bottom: 40px; }



	.tm-2-rows-md-swap {

		display: -webkit-flex;

		display: -ms-flexbox;

		display: flex;

		-webkit-flex-direction: column;

		    -ms-flex-direction: column;

		        flex-direction: column;

	}



	.tm-2-rows-md-down-1 {

		-webkit-order: 1;

		    -ms-flex-order: 1;

		        order: 1;		

	}

	.tm-2-rows-md-down-2 {

		-webkit-order: 2;

		    -ms-flex-order: 2;

		        order: 2;

		margin-bottom: 0;

		margin-top: 30px;		

	}



	.tm-contact-right { 

		padding-left: 15px; 

		padding-top: 40px;

	}

}


@media (max-width: 991px) {

	.tm-main-nav {

		position: fixed;

		right: 0;

		top: 75px;

		z-index: 1000;

	}

	#tmNavbar .navbar-nav .nav-item { float: none; }

	#tmNavbar .navbar-nav .nav-link { padding: 10px 35px; }

	#tmNavbar {

		background: #ffa800;

		border-radius: 6px;
		height: auto;

	}

	#tmNavbar .navbar-nav .nav-item+.nav-item { margin-left: 0; }

	.navbar-toggler {

		border-color: #fffff9;

		color: #895100;

		display: block;

		margin-left: auto;

		margin-right: 0;

	}

	.navbar-toggler:focus { outline: none; }

	.tm-content-box { margin-bottom: 50px; }

	

	.tm-2-col-left {

		padding-right: 0;

		max-width: 660px;

	}



	.tm-2-col-right { padding-left: 0; }

	.tm-margin-b-40 { margin-bottom: 25px; }

	

	.tm-copyright-text { padding-top: 0; }

	.tm-gray-bg { padding: 20px 20px 10px; }

	.tm-footer { padding-bottom: 15px; }



	.tm-2-rows-sm-swap {

		display: -webkit-flex;

		display: -ms-flexbox;

		display: flex;

		-webkit-flex-direction: column;

		    -ms-flex-direction: column;

		        flex-direction: column;

	}



	.tm-2-rows-sm-down-1 {

		-webkit-order: 1;

		    -ms-flex-order: 1;

		        order: 1;		

	}

	.tm-2-rows-sm-down-2 {

		-webkit-order: 2;

		    -ms-flex-order: 2;

		        order: 2;

		margin-bottom: 0;

		margin-top: 30px;		

	}



	.tm-sm-m-b { margin-bottom: 20px; }

	.tm-aside-r { padding-left: 15px; }

	.tm-aside-container {

		max-width: 310px;

		margin: 0 auto;

	}



	.tm-blog-post {	padding-bottom: 10px; }

	.tm-content-box-contact {

		margin-top: 40px;

		margin-bottom: 0;

	}



	.tm-contact-row-related-posts {	margin-top: 40px; }

	.collapsing {
		position: relative;
		height: 0;
		overflow: hidden;
		-webkit-transition-timing-function: ease;
		-o-transition-timing-function: ease;
		transition-timing-function: ease;
		-webkit-transition-duration: .35s;
		-o-transition-duration: .35s;
		transition-duration: .35s;
		-webkit-transition-property: height;
		-o-transition-property: height;
		transition-property: height
	}

}



@media (max-width: 543px) {

	.tm-footer-links-container { padding-left: 0; }

	.tm-xs-m-t { margin-top: 20px; }

	.tm-btn { padding: 10px 30px; }

}



@media(max-width: 510px) {

	.media { max-width: 240px; }

	.media-left {

		display: block;

		margin-bottom: 20px;

	}

		

	.tm-section {

		padding-top: 10%;

		padding-bottom: 10%;

	}



	.tm-subtitle { margin-bottom: 20px; }

	.tm-margin-b-40 { margin-bottom: 15px; }

	.tm-content-box { margin-bottom: 40px; }

	.tm-margin-t-mid { margin-top: 30px; }

	.tm-footer-content-box { margin-bottom: 40px; }

	.tm-footer-content-box-title { margin-bottom: 15px; }

	#google-map { margin-top: 25px; }

	.tm-map-section { margin-top: 50px; }



	.tm-contact-related-posts-container {

		max-width: 240px;

		margin-left: auto;

		margin-right: auto;

	}

}



.clan{

	-webkit-transition: all 0.5s;

	-webkit-filter: grayscale(100%);

	filter: grayscale(100%);

	max-height: 200px;



}

 .clan:hover{

	 -webkit-transition: all 0.5s;

	 -webkit-filter: grayscale(0%);

	 filter: grayscale(0%);

	 border-radius: 50%;

	 border: #4cafff solid thick;

 }